*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
font-family: "Roboto", sans-serif;
--primary-text-color: #434455;
--white: #ffffff;
--logo-color:#4D5AE5;
--lilac: #404bbf;
--logo-color-second: #2e2f42;
--white-second: #f4f4fd;
}

p, h1,h2,h3,h4,h5,h6 {
margin-top: 0;
margin-bottom: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}

body {
font-family:"Roboto", sans-serif;
color: var(--primary-text-color);
background-color: #ffffff;
}

.header-container {
    display: flex;
    width: 100%;
    max-width: 1367px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    outline: 2px solid red;
    align-items: center;
    gap: 600px;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}


/**______index.html______**/

/**_____HEADER____**/


.header {
    background: var(--white, #FFF);
}
.header-logo {
    color: var(--logo-color);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.header-logo-accent {
    color: var(--logo-color-second);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.link {
    text-decoration: none;
}


/**__menu__**/

.header {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}


.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}
.list {
    display: flex;
    gap: 40px;
}
.header-address {
    display: flex;
    gap: 18px;
}


.list {
    color: var(--logo-color-second);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}


.header-list link:hover {
    color: var(--lilac);
}
.header-list link:focus {
    color: var(--lilac);
}

.contacts {
    font-style: normal;
}

.header-address list {
    color: var(--primary-text-color);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header-address list:hover {
    color: var(--lilac);
}

.header-address list:focus {
    color: var(--lilac);
}

/**_____Section1____**/

.container {
    padding: 180px 0;
    display: block;
    width: 100%;
    border: 2px solid red;
}
.advantages-section-list {
    width: 1480px;
    height: 600px;
    flex-shrink: 0;
    background: var(--logo-color-second);
}
.head-text {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    display: block;
    margin: 0 auto;
    width: 496px;
    flex-shrink: 0;
     margin-bottom: 48px;
}
.head-btn {
    color: var(--white);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background: var(--logo-color);
    cursor: pointer;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    align-items: flex-start;
    gap: 10px;
}
.head-btn:hover {
    background-color: var(--lilac);
}
.head-btn:focus {
    background-color: var(--lilac);
}


/**_____Section2_____**/

.advant-section-list {
    background: var(--white);
}

.advantages-list {
    padding-left: 156px;
    padding-right: 156px;
    display: flex;
    gap: 24px;
}
.advantages-item {
flex-direction: column;
width: calc((100% - 72) / 4);
width: 400px;
}

.advant-title {
    color: var(--primary-text-color);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advant-subtitle {
    color: var(--primary-text-color);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    width: 264px;
    flex-direction: column;
}


/**_____Section3____**/


.section-list {
    background-color:var(--white);
}

.section-title {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 00;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-bottom: 72px;
    max-width: 324px;
    width: 100%;
    margin: 0 auto;
}
.advantages-list {
    display: flex;
}
.advantages-item {
    width: ((100% - 24) / 3);
    gap: 24px;
}

/**____Section4____**/
.section-four-list {
    background: var(--cloud, #F4F4FD);
}
.team-title {
    color: var(--logo-color-second);
    text-align: center;
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-bottom: 72px;
}
.team-list-ul {
display: inline-flex;
}
.team-list {
        width: calc((100% - 24) / 4);
    background-color: var(--white);
    padding-bottom: 0px;
    align-items: center;
    gap: 32px;
}
.card-text {
    display: block;
border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    padding: 32px 0;
}

.team-subtitle {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-p {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**_____FOOTER_____**/

.footer {
    background: var(--logo-color-second);
}

.footer-logo {
    color: var(--logo-color);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-logo-accent {
    justify-content: center;
    color: #f4f4fd;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-content {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/**_____PORTFOLIO.HTML____**/


/**_____HEADER_____**/

.partfolio-header {
    border-bottom: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}

.partfolio-logo {
    color: var(--logo-color);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.partfolio-logo-accent {
    justify-content: center;
    color: #2E2F42;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

portfolio list {
    list-style: none;
}

.portfolio-menu {
    color: var(--logo-color-second);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    }

.portfolio-menu:hover {
    color: var(--lilac);
}

.portfolio-menu:focus {
    color: var(--lilac);
}

.partfolio-contacts {
    color: var(--primary-text-color);
    font-style: normal;
}


.partfolio-contacts link {
    color: var(--primary-text-color);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.partfolio-contacts-link link:hover {
    color: var(--lilac);
}

.partfolio-contacts-link link:focus {
    color: var(--lilac);
}

.partfolio-header {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.partfolio-header-container {
    display: flex;
    align-items: center;
    gap: 600px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.portfolio-list {
    display: flex;
    gap: 40px;
}

.partfolio-address {
    display: flex;
    gap: 18px;
}


/**____SECTION___**/

.portfolio-imges {
    list-style: none;
    background-color: #fff;
}

.partfolio-btn {
    color: #4D5AE5;
    text-align: center;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: #f4f4fd;
    cursor: pointer;
}
.partfolio-btn:hover {
    color: #ffffff;
    background-color: #404BBF;
}
.partfolio-btn:focus {
    color: #ffffff;
    background-color: #404BBF;
}

.partfolio list {
    list-style: none;
    text-decoration: none;
}

.partfolio-item link {
    text-decoration: none;
}

.partfolio-title {
    color: var(--logo-color-second);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.partfolio-subtitle {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/**____PARTFOLIO___FOOTER______**/

.partfolio-footer {
    background-color: var(--logo-color-second);
}

.partfolio-footer-logo {
    color: var(--logo-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.partfolio-footer-logo-accent {
    justify-content: center;
    color: #f4f4fd;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.partfolio-footer-content {
    color: var(--cloud, #F4F4FD);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}